body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
        object-fit: cover;
    z-index: -1;
}


.menu {
    display: flex;
    width: 8%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0C1329;
    border-right: 2px;
    flex-direction: column;
    text-align: center;
    border-right: 2px solid #C5A76C;
}


.menu img{
    max-width: 50%;
    max-height: 50%;
    margin: 15%;
}


.menu .shop{
    display: flex;
    flex-direction: column;

}

.menu .team{
    display: flex;
    justify-content: center;
}

.menu .team .containerLogo{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    border : 2px solid gold;
    overflow: hidden;
}

.menu .team .containerLogo .losange-image{
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
}

.menu .settings{
    width: 100%;
    position: absolute;
    bottom : 10px;
}

.menu .shop img{
}

.fond{
    background:linear-gradient(121deg,
    rgba(64,252,121,1) 0%,
    rgba(252,63,251,1) 39%,
    rgba(107,0,255,1) 93%);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
    display: inline-block;
}

@keyframes gradient-animation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}}

.fond img{
    max-width: 100%; /* La largeur de l'image ne dépassera pas la largeur de la div */
    height: auto;
}