<!DOCTYPE html>
<html>
<head>
    <title>championCard</title>
</head>
<body>
<div th:fragment="championCard(image, nom, description, id, owned)">
    <div th:replace="Component/Card :: card(${image}, ${nom}, ${description}, 'buyChampionButton-' + ${id}, ${owned})"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const buyButton = document.getElementById('buyChampionButton-' + [[${id}]]);

            if(buyButton) {
                buyButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    try {
                        fetch('shopChampion', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({championId: [[${id}]]})
                        }).then(() => {
                                location.reload();
                        })

                    } catch (e) {
                        console.log("error" + e);
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>
