<!DOCTYPE html>
<html>
<head>
    <title>sideBar</title>
</head>
<body>
    <div class="menu" th:fragment="sideBar">
        <div class="shop">
            <a href="shopWeapon"><img th:src="@{/sword-zelda.png}" alt="weaponShop"></a>
            <a href="shopChampion"><img th:src="@{/shopChampion.png}" alt="championShop"></a>
            <div class="fond">
                <img th:src="@{/boutonTeam.png}" alt="weaponShop" class="boutonTeam" >
            </div>
        </div>

        <div class="team">

            <div class="settings">
                <a href="shop"><img th:src="@{/settingsIcon.jpg}" alt="weaponShop" class="weaponShop"></a>
            </div>
        </div>

    </div>
</body>
</html>