<!DOCTYPE html>
<html>
<head>
    <title>sideBar</title>
</head>
<body>
    <div class="menu" th:fragment="sideBar">
            <a href="shopWeapon"><img th:src="@{/icon/sword.png}" alt="weaponShop"></a>
            <a href="shopChampion"><img th:src="@{/icon/shopChampion.png}" alt="championShop"></a>
            <a href="teamTemplate">
            <div class="fond">
                <span class="TeamText">TEAM</span>
                <img th:src="@{/icon/boutonTeam.png}" alt="weaponShop" class="boutonTeam">
            </div>
            </a>

            <a href="/"><img th:src="@{/icon/home.png}" alt="weaponShop"></a>
            <a href="settings"><img th:src="@{/icon/settingsIcon.png}" alt="weaponShop" class="weaponShop"></a>




    </div>
</body>
</html>

