<!DOCTYPE html>
<head>
    <title>team</title>
</head>
<body>
    <div class="team" th:fragment="team(team)">
        <div class="container">
            <div class="box">
                <img th:src="@{${team.champion.Image}}" alt="Rakan">
            </div>

            <div class="box">
                <img th:src="@{${team.weapon.Image}}" alt="Item1">

            </div>
            <div class="bonus-container">
                <p class="bonus" th:text="'Bonus: ' + ${team.champion.bonus + team.weapon.bonus}"></p>
                <p class="nom" th:text="'Nom: ' + ${team.name}"></p>
            </div>
        </div>

        <div class="buttons">
            <button th:onclick="|select(event, '${team.id}')|"><a href="#">Select</a></button>
            <button th:onclick="|deleteTeam(event, '${team.id}')|"><a href="#" >Delete</a></button>
            <a href="modifyTeam"><button>Modify</button></a>
        </div>
    </div>


</body>
</html>