<!DOCTYPE html>
<html>
<head>
    <title>TopUserInfo</title>

</head>
<body>
<div id="top-user-info" th:fragment="topUserInfo(pseudo, pp , gold , xp)">
    <div id="inside-user-info">
        <i class="text-in-user" id="psudo-name" th:text="${pseudo}" ></i>
        <i class="text-in-user" id="gold">
            <span id="topGold" class="test" style="color: #D7B573;margin-right: 10px" th:text="${gold} + ' GOLD'"></span>
            <span id="topLvl" class="test" style="color: #407A8B;margin-right: 10px" th:text="${xp/50} + ' LVL  '"></span>
        </i>
        <progress id="progressBar" th:value="${xp % 50}" max="50" style="transform: rotate(180deg);"></progress>
    </div>
    <div id="user-icon">
        <img id="user-icon-img" th:src="@{${pp}}" alt="">
    </div>
</div>

</body>
</html>

