<!DOCTYPE html>
<html>
<head>
    <title>weaponCard</title>
</head>
<body>
<div th:fragment="weaponCard(image, nom, description, price, level, bonus, id, owned)">

    <div th:replace="Component/Card :: card(${image}, ${nom}, ${description + '\n' + 'click bonus : ' + bonus}, ${owned ? 'possessed' : ( level <= player.xp / 50 ? 'buy for ' + price + ' Gold' : 'unlocked at level ' + level) }, 'buyWeaponButton-' + ${id}, ${owned})"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const buyButton = document.getElementById('buyWeaponButton-' + [[${id}]]);

            if(buyButton) {
                buyButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    try {
                        fetch('shopWeapon', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({weaponId: [[${id}]]})
                        }).then(() => {
                            location.reload();
                        })

                    } catch (e) {
                        console.log("error" + e);
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>
