<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Championshop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/weaponTemplate.css}">
    <link rel="stylesheet" th:href="@{/css/sideBar.css}">


</head>
<body>
<div class="main-body-template">
    <video autoplay loop muted playsinline poster="">
        <source th:src="@{/AhriWallpaper.mp4}" type="video/mp4">
    </video>

    <div class="right-section">

        <div th:replace="Component/TopUserInfo :: topUserInfo(${player.getPseudo()}, ${player.getProfileImage()},${player.getGold()}, ${player.getXp()})"></div>

        <form action="/shopChampion/research" method="get" class="research">
            <input type="text" name="research" placeholder="Rechercher un champion">
            <button type="submit"><img th:src="@{/icon/iconSearch.png}"/> </button>

        </form>


        <div class="content-wrapper">
            <div class="grid-container">
                <div class="game-item" th:each="Champ : ${championsOwned}">
                    <div class="game-image" th:replace="Component/championCard :: championCard(${Champ.image}, ${Champ.name}, ${Champ.description}, ${Champ.prix}, ${Champ.xpUnlockable}, ${Champ.bonus}, ${Champ.id}, true, true)"></div>
                </div>
                <div class="game-item" th:each="noChamp : ${championsNotOwned}">
                    <div class="game-image" th:replace="Component/championCard :: championCard(${noChamp.image}, ${noChamp.name}, ${noChamp.description}, ${noChamp.prix}, ${noChamp.xpUnlockable}, ${noChamp.bonus}, ${noChamp.id}, false, true)"></div>
                </div>


            </div>
        </div>
    </div>
</div>

<div th:replace="Component/SideBar :: sideBar"></div>

</body>
</html>