<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" th:href="@{/weaponTemplate.css}">


</head>
<body>
<div class="main-body-template">
    <video autoplay loop muted playsinline poster="">
        <source th:src="@{/AhriWallpaper.mp4}" type="video/mp4">
    </video>

    <div class="content-wrapper">
        <div class="grid-container">
            <div th:each="noChamp : ${championsNotOwned}">
                <div th:replace="Component/championCard :: championCard(${noChamp.image}, ${noChamp.name}, ${noChamp.description}, ${noChamp.id}, false)"></div>
            </div>
            <div th:each="Champ : ${championsOwned}">
                <div th:replace="Component/championCard :: championCard(${Champ.image}, ${Champ.name}, ${Champ.description}, ${Champ.id}, true)"></div>
            </div>
        </div>
    </div>

    <div class="right-section">
        <div id="top-user-info">
            <div id="inside-user-info">
                <i class="text-in-user" id="psudo-name">FIFTY</i>
                <i class="text-in-user" id="gold">GOLD</i>
                <progress id="progressBar" value="0" max="100"></progress>
            </div>
            <div id="user-icon">
                <img id="user-icon-img" th:src="@{/pg.png}" alt="">
            </div>
        </div>

    </div>

</div>

<div th:replace="Component/SideBar :: sideBar"></div>

</body>
</html>