<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/connexion.css}">
</head>
<body>
<video autoplay loop muted playsinline poster="">
    <source th:src="@{/wallpaperConnexion.mp4}" type="video/mp4">
</video>

<form id="loginForm" action="login" method="POST">
    <input type="text" name="pseudo" id="pseudoLabel" placeholder="Pseudo" class="pseudo">
</form>

<br>
<br>
<br>


<progress id="progressBar" value="0" max="100"></progress>

<script>
    var progressBar = document.getElementById("progressBar");
    var pseudoInput = document.getElementById("pseudoLabel");

    var totalSeconds = 5;
    var timerId;

    function updateProgressBar(timer) {
        progressBar.value = (timer / totalSeconds) * 100;

        if (timer < totalSeconds) {
            timerId = setTimeout(function () {
                updateProgressBar(timer + 0.1);
            }, 100);
        } else {
            document.getElementById("loginForm").submit();
        }
    }

    function resetProgressBar() {
        clearTimeout(timerId); // Stops the timer
        progressBar.value = 0; // Resets the progress bar to 0
        if (pseudoInput.value !== "") {
            updateProgressBar(0);  // Start the timer again
        }
    }

    pseudoInput.addEventListener("input", function() {
        resetProgressBar();
    });
</script>


</body>
</html>