<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="connexion.css">
</head>
<body>
<video autoplay loop muted playsinline poster="">
    <source src="../static/ps3-wave.1920x1080.mp4" type="video/mp4">
</video>


<input type="text" name="" placeholder="Pseudo" class="pseudo">

<br>
<br>
<br>


<progress id="progressBar" value="0" max="100"></progress>

<script>
    var progressBar = document.getElementById("progressBar");

    var totalSeconds = 5;

    function updateProgressBar(timer) {
        progressBar.value = (timer / totalSeconds) * 100;

        if (timer < totalSeconds) {
            setTimeout(function () {
                updateProgressBar(timer + 0.1);
            }, 100);
        }else{
            window.location.href = "index.html";
        }
    }

    updateProgressBar(0);
</script>


</body>
</html>