<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/index.css}">


</head>
<body>
<div class="main-body-template">
    <video autoplay loop muted playsinline poster=""  id="back-video">
        <source th:src="@{/AhriWallpaper.mp4}" type="video/mp4">
    </video>

    <div class="right-section">
        <div th:replace="Component/TopUserInfo :: topUserInfo"></div>
    </div>
</div>

<div th:replace="Component/SideBar :: sideBar"></div>


</body>
</html>