<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/index.css}">

</head>
<body>

<video autoplay loop muted playsinline poster=""  id="back-video">
    <source th:src="@{/AhriWallpaper.mp4}" type="video/mp4">
</video>

<div id="top-user-info">
    <div id="inside-user-info">
        <i class="text-in-user" id="psudo-name">FIFTY</i>
        <i class="text-in-user" id="gold">GOLD</i>
        <progress id="progressBar" value="0" max="100"></progress>
    </div>
    <div id="user-icon">
        <img id="user-icon-img" th:src="@{/pg.png}" alt="">
    </div>

</div>

<div th:replace="Component/SideBar :: sideBar"></div>


</body>
</html>