<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="equipChampion" method="POST">
    <select id="championsOwned" name="championId">
        <option th:each="champ : ${championsOwned}" th:value="${champ.id}">
            <span th:text="${champ.name}"></span>
        </option>
    </select>

    <button type="submit">Equipe</button>
</form>

<form action="shopChampion" method="POST">
    <select id="championsNotOwned" name="championId">
        <option th:each="noChamp : ${championsNotOwned}" th:value="${noChamp.id}">
            <span th:text="${noChamp.name}"></span>
        </option>
    </select>

    <button type="submit">Buy champion</button>
</form>

</body>
</html>