<!DOCTYPE html>
<html>
<head>
    <meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Champions & Weapons</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/teamTemplate.css}">
    <link rel="stylesheet" th:href="@{/css/sideBar.css}">

</head>
<body>
<div class="main-body-template">
    <video autoplay loop muted playsinline poster=""  id="back-video">
        <source th:src="@{/AhriWallpaper.mp4}" type="video/mp4">
    </video>
    <div class="right-section">

        <div th:replace="Component/TopUserInfo :: topUserInfo(${player.getPseudo()}, ${player.getProfileImage()},${player.getGold()}, ${player.getXp()})"></div>


        <div class="addTeam">
        <a href="/addTeam"><img th:src="@{/icon/TeamIconAdd.png}" alt="weaponShop"></a>
        </div>

        <div class="content-wrapper" id="player-wrapper">
            <div th:each="team : ${teamsOwned}">
                <div th:replace="Component/Team :: team(${team}, ${player})"></div>
            </div>
        </div>

    </div>

<div th:replace="Component/SideBar :: sideBar"></div>
    <script>
        function select(e, id) {
            e.preventDefault();
            try {
                const fetchSelect = async (id) => {
                    const response = await fetch('selectTeam', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({teamId: id})
                    })
                    if (response.ok) {
                        location.reload()
                    }
                }
                fetchSelect(id)
            } catch (err) {
                console.log("error" + err);
            }
        }

        function deleteTeam(e, id) {
            e.preventDefault();
            console.log(id)
            try {
                const fetchDelete = async (id) => {
                    const response = await fetch('deleteTeam', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({teamId: id})
                    })
                    if (response.ok) {
                        location.reload()
                    }
                }
                fetchDelete(id)
            } catch (err) {
                console.log("error" + err);
            }
        }
    </script>
</div>
</body>
</html>