<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="weaponTemplate.css">

</head>
<body>
<video autoplay loop muted playsinline poster="">
    <source src="../static/AhriWallpaper.mp4" type="video/mp4">
</video>

<div id="top-user-info">
    <div id="inside-user-info">
        <i class="text-in-user" id="psudo-name">FIFTY</i>
        <i class="text-in-user" id="gold">GOLD</i>
        <progress id="progressBar" value="0" max="100"></progress>
    </div>
    <div id="user-icon">
        <img id="user-icon-img" src="../static/pg.png" alt="">
    </div>

</div>


<div class="menu">
    <div class="shop">
        <a href="shopWeapon.html"><img src="../static/sword-removebg-preview.png" alt="weaponShop"></a>
        <a href="shopChampion.html"><img src="../static/shopChampion.png" alt="championShop"></a>
    </div>

    <div class="team">

        <div class="containerLogo">
            <a href="selectTeam.html"><img src="../static/teamIcon.jpg" alt="weaponShop" class="losange-image"></a>
        </div>
    </div>

    <div class="settings">
        <a href="shop.html"><img src="../static/settingsIcon.jpg" alt="weaponShop" class="rounded-image"></a>
    </div>

</div>

</body>
</html>