<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" th:href="@{/weaponTemplate.css}">


</head>
<body>
<div class="main-body-template">
    <video autoplay loop muted playsinline poster="">
        <source th:src="@{/AhriWallpaper.mp4}" type="video/mp4">
    </video>

    <div class="right-section">
        <div th:replace="Component/TopUserInfo :: topUserInfo(${player.getPseudo()}, ${player.getProfileImage()},${player.getGold()}, ${player.getXp()})"></div>

        <div class="content-wrapper">
            <div class="grid-container">
                <div class="game-item" th:each="noWeapon : ${weaponsNotOwned}">
                    <div class="game-image"
                         th:replace="Component/weaponCard :: weaponCard(${noWeapon.image}, ${noWeapon.name}, ${noWeapon.description}, ${noWeapon.id}, false)"></div>
                </div>
                <div class="game-item" th:each="weapon : ${weaponsOwned}">
                    <div class="game-image"
                         th:replace="Component/weaponCard :: weaponCard(${weapon.image}, ${weapon.name}, ${weapon.description}, ${weapon.id}, true)"></div>
                </div>
            </div>
        </div>

    </div>
</div>

    <div th:replace="Component/SideBar :: sideBar"></div>

</body>
</html>